@model IEnumerable<CRUD_Alumnos.Models.Alumno>

<select class="form-control" id="id_alumno" name="id_alumno">
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.NombreCompleto</option>
    }
</select>

