USE [master]
GO
/****** Object:  Database [AlumnosBD]    Script Date: 10/2/2021 23:48:16 ******/
CREATE DATABASE [AlumnosBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlumnosBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AlumnosBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlumnosBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\AlumnosBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlumnosBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlumnosBD]
GO
/****** Object:  User [alumnosa]    Script Date: 10/2/2021 23:48:16 ******/
CREATE USER [alumnosa] FOR LOGIN [alumnosa] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [alumnosa]
GO
ALTER ROLE [db_datareader] ADD MEMBER [alumnosa]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [alumnosa]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 10/2/2021 23:48:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
	[Apellidos] [nvarchar](250) NOT NULL,
	[Edad] [int] NOT NULL,
	[Sexo] [char](1) NOT NULL,
	[FechaRegistr] [datetime] NOT NULL,
	[CodCiudad] [int] NOT NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 10/2/2021 23:48:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ciudad] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([id], [Nombre], [Apellidos], [Edad], [Sexo], [FechaRegistr], [CodCiudad]) VALUES (3, N'Micaela', N'Neyra', 28, N'F', CAST(N'2021-02-10T09:11:56.477' AS DateTime), 1)
INSERT [dbo].[Alumno] ([id], [Nombre], [Apellidos], [Edad], [Sexo], [FechaRegistr], [CodCiudad]) VALUES (5, N'Pedro', N'Ramirez', 21, N'M', CAST(N'2021-02-10T13:54:52.620' AS DateTime), 2)
INSERT [dbo].[Alumno] ([id], [Nombre], [Apellidos], [Edad], [Sexo], [FechaRegistr], [CodCiudad]) VALUES (6, N'Martin', N'Valdez', 17, N'M', CAST(N'2021-02-10T16:36:29.753' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
SET IDENTITY_INSERT [dbo].[Ciudad] ON 

INSERT [dbo].[Ciudad] ([id], [Nombre]) VALUES (1, N'Piura')
INSERT [dbo].[Ciudad] ([id], [Nombre]) VALUES (2, N'Trujillo')
INSERT [dbo].[Ciudad] ([id], [Nombre]) VALUES (3, N'Lima')
SET IDENTITY_INSERT [dbo].[Ciudad] OFF
GO
ALTER TABLE [dbo].[Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Alumno_Ciudad] FOREIGN KEY([CodCiudad])
REFERENCES [dbo].[Ciudad] ([id])
GO
ALTER TABLE [dbo].[Alumno] CHECK CONSTRAINT [FK_Alumno_Ciudad]
GO
USE [master]
GO
